ul,ol{
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,p,span,div{
	margin: 0;
	padding: 0;
	font-family: '微軟正黑體';
}
a{
	text-decoration: none;
	color: #2a2a2a;
	font-family: '微軟正黑體';
}
.wrap {
	max-width: 100%;
	height: auto;
  }

.d-flex{
	display: flex;
	justify-content: center;
	align-items: space-between;
	/* // flex-flow: wrap; */
}
.v-center{
	top: 50%;
			left: 50%;
			position: absolute;
			transform: translate(-50%,-50%)
}

.container{
	max-width: 1366px;
	height: auto;
	margin: 0 auto;
}

.pt-40{
	padding-top: 40px;
}

.ml-5{
	padding-left: 5px;
}



.clear{
	clear: both;
}
.hide{
	display: none;
}

.ma{
	margin: auto;
}

/* // animated */
.animated {
	opacity: 0;
	transition: all 1.5s;
	transform: translateY(50px);
  }
  .fadeIn {
	opacity: 1;
	transform: translateY(0);
  }

  .Lhide{
	opacity: 0;
	transition: all 1.5s;
	transform: translateX(-500px);
  }
  .Rhide{
	opacity: 0;
	transition: all 1.5s;
	transform: translateX(500px);
  }
  .showplay{
	opacity: 1;
	transform: translateX(0);
  }

  /* @media (max-width:1024px){
	.animated{
		opacity: 1;
		transform: translateY(0);
	}
  } */