/* -------------index------------ */
.header {
  margin: 0;
}
.headline {
  width: 120px;
  height: 120px;
  background-color: #5c5c5c;
  transform: rotate(45deg);
  position: relative;
  z-index: 1;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 60px;
}

.headline-inner {
  width: 140px;
  height: 140px;
  border: solid 1px #5c5c5c;
  margin: -10px;
  position: absolute;
}

.headline-text {
  padding-top: 5px;
}

.headline-text p {
  color: #fff;
  transform: rotate(-45deg) translate(14%, -10%);
  font-family: "Prata";
  font-size: 14px;
  line-height: 6.35;
  letter-spacing: 2px;
  margin-bottom: -40px;
}

.headline-text h4 {
  color: #fff;
  transform: rotate(-45deg) translate(13%, 8%);
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 3px;
  color: #fff;
}
.headline-text .line {
  color: #fff;
  transform: rotate(-45deg) translate(241%);
  width: 40px;
  height: 1px;
  background-color: #fff;
  margin-top: 70px;
}

.headline-inner .headline-text .news-title {
  transform: rotate(-45deg) translate(25%, -10%);
}
.headline-inner .headline-text .hot-title {
  transform: rotate(-45deg) translate(14%, -10%);
}

.headline-inner .headline-text .contact-title {
  transform: rotate(-45deg) translate(17%, -10%);
}


.hot-case-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.hot-case-item img {
  transform: scale(1, 1);
  transition: all 0.5s ease-out;
}
.hot-case-item img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.hot-case {
  padding: 0 15px;
  position: relative;
}

.hot-case img {
  box-shadow: 0px 0px 5px 0px #ccc;
}

.hot-text {
  width: 100%;
  height: 85px;
  opacity: 0.9;
  position: absolute;
  background-color: #2a2a2a;
  bottom: 0;
}

.hot-text p {
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  width: 100%;
}

.circle {
  width: 60px;
  height: 60px;
  opacity: 0.9;
  border-radius: 50%;
  border: solid 1px #fff;
  background-color: #2a2a2a;
  position: absolute;
  top: -5px;
  z-index: 1;
}
.circle:hover {
  background-color: #000;
  transition: all 0.5s ease-in-out;
}
.circle a {
  font-size: 14px;
  line-height: 4;
  letter-spacing: 1.4px;
  text-align: center;
  color: #fff;
  display: block;
}

.btn-detail {
  display: none;
  border: solid 1px #2a2a2a;
  background-color: #fff;
  width: 95px;
  height: 30px;
  margin-top: 50px;
}
.btn-detail a {
  line-height: 2;
  font-size: 16px;
  text-align: center;
  display: block;
}

.btn-detail:hover {
  background-color: #2a2a2a;
}

.btn-detail:hover a {
  color: #fff;
}

.news-list-box {
  width: 660px;
  height: auto;
  margin: 0 30px;
  box-shadow: 0px 0px 5px 0px #ccc;
  padding-bottom: 95px;
}

.news-list-outer {
  position: relative;
}

.news-list-inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.news-date {
  float: right;
  font-size: 16px;
  padding: 30px;
  letter-spacing: 1.6px;
  color: #333;
}

.news-text {
  float: left;
  padding: 30px;
  overflow: hidden; /* // 超出範圍的部分隱藏 */
  white-space: nowrap; /* // 不自動斷行 */
  text-overflow: ellipsis; /* // 出現省略號 */
}
.news-text a {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #333;
  position: relative;
}
.news-text a::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 0px;
  height: 1px;
  background: #1a1b7e;
  transition: width 0.5s;
}
.news-text a:hover::before {
  width: 85px;
}

.news-list-item {
  width: 100%;
  height: 392px;
  overflow: hidden;
}
.news-list-item img {
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
}
.news-list-item img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.news-btn {
  position: relative;
  z-index: 1;
  border: 1px solid #333;
  width: 175px;
  height: 48px;
  background: #fff;
  top: 75px;
  left: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.news-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #333;
  content: "";
  z-index: -1;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.7s ease;
}

.news-btn:hover:after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.news-btn:hover a {
  color: #fff;
}

.news-btn a {
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #333;
  line-height: 48px;
  display: block;
  margin-left: 20px;
  float: left;
}
.news-btn span {
  float: right;
  margin-top: 14px;
  margin-right: 10px;
}

.contact {
  background: url("../images/contact-bg.jpg");
  min-height: 430px;
  position: relative;
  opacity: 0.9;
}
.above {
  position: absolute;
  background-color: #2a2a2a;
  opacity: 0.5;
  width: 100%;
  min-height: 430px;
  z-index: -1;
}
.down {
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -40%);
}
.down:hover {
  margin-top: 20px;
  transition: all 1s ease;
}

.btn {
  position: absolute;
  border: 1px solid #fff;
  width: 175px;
}
.btn a {
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #fff;
  line-height: 48px;
  display: block;
}

.btn a:hover {
  background-color: #333;
  transition: all 0.5s ease;
}

@media (max-width: 1366px) {
  .hot-case-item {
    height: auto;
  }

  .hot-text {
    height: 45px;
  }
  .hot-text p {
    font-size: 16px;
  }
  .circle {
    width: 40px;
    height: 40px;
  }
  .circle a {
    font-size: 10px;
  }

  .news-text a:hover::before {
    width: 70px;
  }
  .news-list-item {
    height: auto;
  }
  .news-date {
    padding: 20px;
    font-size: 12px;
  }
  .news-text {
    padding: 20px;
  }
  .news-text a {
    font-size: 16px;
  }
  .news-btn {
    width: 155px;
    height: 40px;
    top: 55px;
    left: 20px;
  }
  .news-btn a {
    font-size: 14px;
    margin-left: 20px;
    line-height: 40px;
  }
  .news-btn span {
    margin-top: 10px;
    margin-right: 10px;
  }

  .contact {
    background-size: cover;
    min-height: 345px;
  }
  .above {
    min-height: 345px;
  }
  .btn {
    margin-top: 30px;
  }
  .down {
    top: 40%;
  }
}
@media (max-width: 1024px) {
  .circle {
    width: 35px;
    height: 35px;
  }
  .circle a {
    line-height: 3.6;
  }

  .news-text a:hover::before {
    content: none;
  }

  .hot-case-item img:hover,
  .news-list-item img:hover {
    transform: scale(1, 1);
    opacity: 1;
  }

  .news-date,
  .news-text {
    float: none;
  }
  .news-text {
    padding-top: 0;
  }
  .news-btn {
    top: 90px;
  }
  .news-list-box {
    padding-bottom: 155px;
  }
  /* .down{
    display: none;
  } */
}

@media (max-width: 768px) {
  .hot-case-item {
    width: 70%;
    margin: auto;
  }
  .hot-case img {
    margin: auto;
    width: 100%;
  }
  .hot-text {
    height: 50px;
  }

  .hot-text p {
    font-size: 16px;
  }
  .circle {
    top: -5px;
  }

  .news-list {
    flex-flow: wrap !important;
    width: 100%;
  }

  .news-list-box .news-list-item img {
    width: 100%;
  }
  .news-list-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact .above,
  .contact {
    min-height: 250px;
  }
}
@media (max-width: 480px) {
  .hot-text {
    height: 35px;
  }
  .hot-text p {
    font-size: 12px;
  }
}

@media (max-width: 414px) {
  .headline {
    width: 85px;
    height: 85px;
    top: 43px;
  }
  .headline-inner {
    width: 100px;
    height: 100px;
    margin: -9px;
  }
  
  .headline-text .line {
    margin-top: 50px;
    transform: rotate(-45deg) translate(138%);
  }
  .headline-text p {
    font-size: 10px;
    transform: rotate(-45deg) translate(13%, 28%);
  }
  .headline-text h4 {
    font-size: 16px;
    transform: rotate(-45deg) translate(5%, 28%);
  }
  .headline-inner .headline-text .hot-title {
    transform: rotate(-45deg) translate(12%, -13%);
  }
  .headline-inner .headline-text .news-title {
    transform: rotate(-45deg) translate(23%, -15%);
  }
  
  .headline-inner .headline-text .contact-title {
    transform: rotate(-45deg) translate(15%, -15%);
  }
}

/* // -------------------effect------------------ */
.hover-circle {
  display: none;
  transition: all 0.5s ease;
}
.hover-hot-text {
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
}

.hover-hot-text p {
  color: #2a2a2a;
}
.hover-hot-text span {
  display: block;
}

.show {
  position: relative;
  z-index: 1;
}





/* -------------about------------ */
.position {
  position: relative;
  top: -60px;
}

.a01-section {
  position: relative;
  margin-top: 20px;
  padding-top: 40px;
}
.a01-bg {
  position: absolute;
  background-image: url("../images/about-bg.jpg");
  width: 100%;
  height: 700px;
  background-size: cover;
  background-position: center center;
  top: -45px;
}
.a01 {
  padding-bottom: 80px;
  position: relative;
}

.a02,
.a03 {
  padding-bottom: 60px;
}

.a01,
.a02,
.a03 {
  overflow: hidden;
}

.a01-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 40px;
}

.a01 h4 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.13;
  letter-spacing: 3.2px;
  text-align: center;
  color: #000;
}
.a01 h4::after {
  content: "";
  display: block;
  width: 130px;
  height: 2px;
  background-color: #2a2a2a;
  margin: auto;
  margin-top: 5px;
}

.a01 h6 {
  opacity: 0.5;
  font-family: "Prata";
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-align: center;
  color: rgba(153, 153, 153, 0.5);
  padding-top: 15px;
  padding-bottom: 40px;
  margin: 0;
}

.a01 p {
  width: 481px;
  height: auto;
  font-size: 20px;
  line-height: 3;
  letter-spacing: 2px;
  text-align: center;
  color: #000;
  margin: auto;
}

.a01-img1 {
  float: left;
}
.a01-img2 {
  float: right;
}

.a02-img {
  float: left;
}

.a02-text {
  float: right;
  width: 30%;
}

.a02 h4 {
  font-size: 32px;
  line-height: 1.88;
  letter-spacing: 3.2px;
  text-align: right;
  color: #000;
}
.a02 p {
  font-size: 20px;
  line-height: 2.4;
  letter-spacing: 2px;
  text-align: left;
  color: #000;
}

.a03-text {
  float: left;
  width: 30%;
}
.a03-img {
  float: right;
}

.a03 h4 {
  font-size: 32px;
  line-height: 1.88;
  letter-spacing: 3.2px;
  text-align: left;
  color: #000;
}
.a03 p {
  font-size: 20px;
  line-height: 2.4;
  letter-spacing: 2px;
  text-align: left;
  color: #000;
}

@media (max-width: 1366px) {
  .a01-img1,
  .a01-img2 {
    width: 30%;
  }
  .a01-text h4 {
    font-size: 28px;
  }
  .a01-text h6 {
    font-size: 20px;
    padding: 0;
  }
  .a01-text p {
    font-size: 14px;
    width: 350px;
  }

  .a01-bg {
    top: 0px;
    height: 55vh;
  }
  .a02-text,
  .a03-text {
    width: 35%;
  }
  .a02-text h4,
  .a03-text h4 {
    font-size: 24px;
  }
  .a02-text p,
  .a03-text p {
    font-size: 14px;
  }

  .a02-img,
  .a03-img {
    width: 60%;
  }
}

@media (max-width: 1024px) {
  .a01-bg {
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 40vh;
  }
  .a01-img1,
  .a01-img2 {
    display: none;
  }
  .a01-text {
    top: -20px;
  }
  .a01-text p {
    width: 100%;
  }
  .a02 {
    margin-top: 180px;
  }
  .a02-img {
    float: none;
    width: 50%;
    margin: auto;
    text-align: center;
  }
  .a02-text {
    width: 70%;
    text-align: center;
    margin: auto;
    float: none;
    padding-top: 20px;
  }
  .a02-text h4 {
    text-align: center;
  }
  .a03 {
    position: relative;
    margin-top: -30px;
    padding-bottom: -40px;
    margin-bottom: 120px;
  }
  .a03-text {
    float: none;
    text-align: center;
    margin: auto;
    width: 70%;
    position: absolute;
    top: 90%;
    right: 0;
    left: 0;
  }

  .a03-text h4 {
    text-align: center;
  }
  .a03-img {
    float: none;
    width: 50%;
    text-align: center;
    margin: auto;
  }
  .a01,
  .a02,
  .a03 {
    overflow: initial;
  }
}

@media (max-width: 768px) {
  .a01-text {
    position: static;
    padding-bottom: 0;
  }
  .a01 {
    padding-bottom: 0;
    position: static;
  }

  .a01-section {
    margin-top: 0px;
  }

  .a01-text p {
    padding: 0;
    font-size: 12px;
    padding-top: 10px;
  }
  .a01 h4::after {
    margin-bottom: 5px;
    width: 105px;
  }
  .a01-text h6 {
    font-size: 14px;
  }
  .a01-text h4 {
    font-size: 24px;
  }
  .a01-bg {
    height: 0;
  }
  .a02-img,
  .a03-img {
    width: 100%;
  }

  .a02 {
    margin-top: 20px;
    position: static;
  }
  .a02-text h4,
  .a03-text h4 {
    font-size: 24px;
  }
  .a02-text p,
  .a03-text p {
    font-size: 12px;
    text-align: center;
  }
  .a01-text,
  .a02-text,
  .a03-text {
    width: 90%;
  }

  .a03-text {
    top: 90%;
  }
}

@media (max-width: 414px) {
  .a02 {
    margin-top: 0px;
  }
  .a03-text {
    top: 85%;
  }
}

@media (max-width: 375px) {
  .a02 {
    margin-top: 0px;
  }
  .a03 {
    margin-top: -80px;
  }
  .a02-text {
    padding-bottom: 40px;
  }
  .a03-text {
    top: 75%;
  }
}

/* -------------news------------ */
.news-tag {
  width: 185px;
  height: 45px;
  background-color: #999;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.news-tag a {
  display: block;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 1.95px;
  text-align: center;
  color: #fff;
}
.news-tag a:hover {
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1366px) {
  .news-list-box {
    height: auto;
    padding-bottom: 125px;
  }
  .news-list-item {
    height: auto;
  }
  .news-date {
    padding: 20px;
    font-size: 12px;
  }
  .news-text {
    padding: 20px;
  }
  .news-text a {
    font-size: 16px;
  }

  .news-btn {
    width: 155px;
    height: 40px;
    top: 55px;
    left: 20px;
  }
  .news-btn a {
    font-size: 14px;
    margin-left: 15px;
    line-height: 40px;
  }
  .news-btn span {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .news-text a:hover::before {
    content: none;
  }

  .news-list-item img:hover {
    transform: scale(1, 1);
    opacity: 1;
  }

  .news-date,
  .news-text {
    float: none;
  }
  .news-text {
    padding-top: 0;
  }

  .news-btn {
    top: 90px;
  }
}

@media (max-width: 768px) {
  .news-list {
    flex-flow: wrap;
    width: 100%;
  }
  .news-list-box .news-list-item img {
    width: 100%;
  }
  .news-list-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .news-tag {
    width: 140px;
    height: 40px;
  }
  .news-tag a {
    font-size: 16px;
    line-height: 40px;
  }
}

/* // --------------------------------------pages------------------------------------------------- */

.news-title-box {
  width: 100%;
  height: 115px;
  margin-top: 40px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 5px 0px #ccc;
  overflow: hidden;
}

.news-title-text {
  padding-left: 50px;
  float: left;
}
.news-title-text p {
  font-size: 18px;
  padding-top: 15px;
  line-height: 2;
  letter-spacing: 1.8px;
  text-align: left;
  color: #333;
}
.news-title-text h4 {
  font-size: 24px;
  line-height: 2;
  letter-spacing: 2.4px;
  text-align: left;
  color: #333;
}

.news-title-icon {
  float: right;
  padding-right: 20px;
  margin-top: 80px;
  opacity: 0.7;
}
.news-title-icon:hover {
  opacity: 1;
  transition: all 0.7s ease-in-out;
}
.news-title-icon a img {
  width: 20px;
  height: 20px;
}

.news-content-box {
  background-color: #f4f4f4;
  box-shadow: 0px 0px 5px 0px #ccc;
  margin-bottom: 50px;
  padding-bottom: 60px;
}

.news-content-text p {
  padding: 0 50px;
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: left;
  color: #333333;
}

.news-carousel {
  width: 50%;
  margin: auto;
}

@media (max-width: 1366px) {
  .news-content-text p {
    width: 90%;
    padding-left: 0;
    padding-right: 0;
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .news-title-icon,
  .news-title-text {
    float: none;
  }
  .news-title-text p {
    font-size: 12px;
  }
  .news-title-text h4 {
    font-size: 16px;
  }
  .news-title-icon {
    padding-top: 10px;
    padding-left: 45px;
    padding-bottom: 20px;
    margin-top: 0;
  }

  .news-title-box {
    height: auto;
  }
  .news-content-text p {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .news-content-img {
    width: 90%;
  }
}

@media (max-width: 640px) {
  .news-title-text p {
    font-size: 10px;
  }
  .news-title-text h4 {
    font-size: 14px;
  }
  .news-content-text p {
    font-size: 12px;
  }
  .news-title-icon a img {
    width: 15px;
    height: 15px;
  }
}

/* -------------hot-case------------ */
.main-hot {
  margin-bottom: 50px;
}

.hot-text-bg {
  width: 100%;
  height: 85px;
  opacity: 0.8;
  position: absolute;
  background-color: #fff;
  bottom: 0;
}
.hot-text-bg p {
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  width: 100%;
  color: #000;
}

@media (max-width: 1366px) {
  .hot-text-bg {
    height: 45px;
    width: 100%;
  }
  .hot-text-bg p {
    font-size: 16px;
  }
}



/* // -------------------------------pages------------------------------------ */
.major-hotcase-box {
  padding-top: 40px;
  padding-bottom: 50px;
  overflow: hidden;
}
.info-bg {
  box-shadow: 0px 0px 5px 0px #ccc;
}

.hot-case-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.hot-case-map {
  margin: 40px 0;
}

/* // -------------------effect------------------ */
.hover-circle {
  display: none;
  transition: all 0.5s ease;
}
.hover-hot-text {
  height: 100%;
  width: 100%;
  margin: auto;
  background-color: #fff;
  transition: all 0.5s ease;
}
@media (max-width: 1366px) {
  .hover-hot-text {
    width: 100%;
  }
}

.hover-hot-text p {
  color: #2a2a2a;
}
.hover-hot-text span {
  display: block;
}

/* -------------performance------------ */

.main-show {
  margin-bottom: 50px;
  width: 70%;
}

.show-case-item {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}
.show-case-item img {
  transform: scale(1, 1);
  transition: all 0.5s ease-out;
}
.show-case-item img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.show-case {
  padding: 0 30px;
  position: relative;
}
.show-case img {
  box-shadow: 0px 0px 5px 0px #ccc;
}

.show-text-bg {
  width: 100%;
  height: 85px;
  opacity: 0.8;
  position: absolute;
  background-color: #fff;
  bottom: 0;
}
.show-text-bg p {
  font-size: 25px;
  line-height: 1.5;
  letter-spacing: 2.4px;
  text-align: center;
  color: #fff;
  margin-top: 5px;
  width: 100%;
  color: #000;
}

@media (max-width: 1366px) {
  .show-case-item {
    height: auto;
  }

  .show-text-bg {
    height: 45px;
    width: 100%;
  }
  .show-text-bg p {
    font-size: 16px;
  }
}


/* // -------------------------------pages------------------------------------ */

.show-case-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.show-case-map {
  margin: 40px 0;
}

.major-showcase-box {
  padding-top: 40px;
  padding-bottom: 50px;
  overflow: hidden;
}

/* // -------------------effect------------------ */
.hover-circle {
  display: none;
  transition: all 0.5s ease;
}
.hover-hot-text {
  height: 100%;
  width: 100%;
  background-color: #fff;
  transition: all 0.5s ease;
}

.hover-hot-text p {
  color: #2a2a2a;
}
.hover-hot-text span {
  display: block;
}

@media (max-width: 1366px) {
  .hover-hot-text {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .show-text-bg {
    pointer-events: none;
  }
}

/* -------------craft------------ */

.craft-block {
  padding: 40px;
  overflow: hidden;
}

.title-tag {
  width: 100%;
}

.title-tag li {
  display: inline-block;
}

.title-tag li a {
  font-size: 20px;
  padding: 0 15px;
  letter-spacing: 2px;
  text-align: center;
  color: #2a2a2a;
  border-right: 1px solid #666;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.title-tag li a::before {
  position: absolute;
  bottom: -8px;
  content: "";
  width: 0px;
  height: 1px;
  background: #2a2a2a;
  transition: width 0.5s;
}
.title-tag li a:hover::before {
  width: 85px;
}

.title-tag li a:hover,
.title-tag li a.active {
  color: #1a1b7e;
}
.title-tag li:last-child a {
  border-right: none;
}
.title-tag li:first-child a {
  padding-left: 0;
}

.siderbar {
  float: left;
  width: 40%;
}

.bar-list h2 {
  font-size: 20px;
  letter-spacing: 2.4px;
  text-align: left;
  color: #000;
  padding-bottom: 5px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.bar-list h2 ::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #2a2a2a;
  margin-top: 5px;
}

.bar-list li {
  width: 344px;
  height: 42px;
  border: solid 1px #000000;
  margin-bottom: 20px;
  cursor: pointer;
}
.bar-list li:hover span {
  margin-right: 5px;
  transition: all 0.7s ease-in-out;
  color: #fff;
  cursor: pointer;
}
.bar-list li a {
  display: block;
  width: 100%;
}
.bar-list li a h4 {
  font-size: 20px;
  color: #000000;
  letter-spacing: 2.2px;
  text-align: left;
  float: left;
  line-height: 40px;
  padding-left: 15px;
}
.bar-list li a span {
  float: right;
  margin-top: 10px;
  margin-right: 25px;
}

.craft-main {
  float: right;
  width: 60%;
}
.craft-main p {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 1366px) {
  .title-tag li a:hover {
    width: 70px;
  }
  .siderbar,
  .craft-main {
    width: 50%;
  }
  .title-tag li a {
    padding: 0 10px;
  }
}

@media (max-width: 1024px) {
  .siderbar {
    float: none;
    margin: auto;
    width: 100%;
  }
  .craft-main {
    float: none;
    margin: auto;
    width: 70%;
    margin-top: 20px;
  }
  .bar-list li {
    width: 60%;
  }
  .title-tag,
  .bar-list h2 {
    text-align: center;
  }
  .bar-list {
    margin: auto;
  }
  .bar-list h2::after {
    width: 85px;
    margin: auto;
    margin-top: 5px;
  }
  .bar-list li {
    margin: auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .title-tag li a {
    font-size: 16px;
  }
  .bar-list li a h4,
  .bar-list h2 {
    font-size: 18px;
  }
  .title-tag li a {
    padding: 0 5px;
  }
  .bar-list li {
    width: 80%;
  }
  .craft-main {
    width: 100%;
  }
  .bar-list h2::after {
    width: 70px;
  }
}
@media (max-width: 480px) {
  .title-tag li a,
  .craft-main p {
    font-size: 12px;
  }
  .bar-list h2,
  .bar-list li a h4 {
    font-size: 14px;
  }
}
@media (max-width: 414px) {
  .craft-main p {
    line-height: 1.8;
  }
}

/* -------------contact------------ */

.service {
  padding: 60px;
  overflow: hidden;
}
.service-img {
  float: left;
  width: 45%;
}

.service-info {
  float: right;
  width: 50%;
}

.service-bg {
  width: 675px;
  height: 940px;

  box-shadow: 0px 0px 5px 0px #ccc;
}

.form-control {
  width: 90%;

  margin: auto;
}
.form-control h2 {
  padding-top: 20px;
  padding-bottom: 40px;
}
.form-control h2::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #2a2a2a;
  margin-top: 5px;
}
.form-text,
.form-textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  width: 95%;
  height: 40px;
  border: solid 1px #9fa0a0;
  border-radius: 3px;
  margin-bottom: 20px;
}
.w70 {
  width: 70%;
}
.form-control img {
  margin-left: 10px;
}

.form-btn {
  font-size: 100%;
  padding: 0.5em 1em;
  color: #fff;
  width: 150px;
  height: 50px;
  border: solid 1px #9fa0a0;
  border-radius: 3px;
  float: right;
  background-color: #2a2a2a;
}

.pb {
  padding-bottom: 200px;
}

.form-text-code {
  justify-content: flex-start;
  flex-flow: wrap;
}
.form-text-code p {
  width: 100%;
}

.form-btn {
  cursor: pointer;
}
.form-btn:hover {
  background-color: #1a1b7e;
  transition: all 0.5s ease-in-out;
}

@media (max-width: 1366px) {
  .service-info {
    width: 50%;
  }
  .service-bg {
    width: 100%;
    height: 603px;
  }
  .form-text,
  .form-textarea {
    height: 20px;
    margin-bottom: 10px;
  }
  .pb {
    padding-bottom: 100px;
  }
  .w70 {
    width: 50%;
  }
  .form-control img {
    max-width: 60%;
    float: right;
    margin-left: 45px;
  }
  .form-text-code span {
    width: 40%;
    margin-left: 16px;
  }
}

@media (max-width: 1024px) {
  .service-bg {
    height: auto;
    padding-bottom: 30px;
  }
  .service-info {
    float: none;
    width: 90%;
    margin: auto;
  }
  .service-img {
    display: none;
  }

  .form-btn {
    position: absolute;
    right: 2%;
    top: 20%;
    margin-top: -65px;
  }
  .form-btn-box {
    position: relative;
  }
  .form-btn {
    position: static;
    width: 100%;
    float: none;
    margin-top: 10px;
  }
  .form-control img {
    float: none;
    margin-left: 10px;
  }
  .form-text-code span {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .form-control h2 {
    text-align: center;
  }
  .form-control h2::after {
    margin: auto;
  }
  .form-text-code span {
    width: 35%;
    margin-left: 0;
  }
  .service {
    padding: 60px 20px;
  }
}

@media (max-width: 414px) {
  .form-text-code span {
    width: 40%;
    margin: auto;
  }
  .service {
    padding: 40px 0;
  }
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers*/
  color: #000;
  font-family: "Microsoft JhengHei";
  font-size: 16px;
  padding-left: 5px;
  letter-spacing: 0.8px;
  color: #2a2a2a;
}

/* -------------login------------ */
.login {
  padding: 60px 0;
  overflow: hidden;
}
.login-img {
  float: left;
  width: 45%;
}

.login-info {
  float: right;
  width: 50%;
}

.login-bg {
  width: 675px;
  height: 518px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

@media (max-width: 1366px) {
  .login-info {
    width: 50%;
  }
  .login-bg {
    width: 100%;
    height: 364px;
  }
  .login-bg .form-text,
  .login-bg .form-textarea {
    height: 20px;
    margin-bottom: 10px;
  }
  .pb {
    padding-bottom: 100px;
  }
  .w70 {
    width: 50%;
  }
  .login-bg .form-control img {
    max-width: 60%;
    float: right;
    margin-left: 45px;
  }
  .login-bg .form-text-code span {
    width: 40%;
    margin-left: 16px;
  }
}

@media (max-width: 1024px) {
  .login-bg {
    height: auto;
    padding-bottom: 30px;
  }
  .login-info {
    float: none;
    width: 90%;
    margin: auto;
  }
  .login-img {
    display: none;
  }

  .login-bg .form-btn {
    position: absolute;
    right: 2%;
    top: 20%;
    margin-top: -65px;
  }
  .login-bg .form-btn-box {
    position: relative;
  }
  .login-bg .form-btn {
    position: static;
    width: 100%;
    float: none;
    margin-top: 10px;
  }
  .login-bg .form-control img {
    float: none;
    margin-left: 10px;
  }
  .login-bg .form-text-code span {
    width: 21%;
  }
}

@media (max-width: 768px) {
  .login-bg .form-control h2 {
    text-align: center;
  }
  .login-bg .form-control h2::after {
    margin: auto;
  }
  .login-bg .form-text-code span {
    width: 27%;
    margin-left: 0;
  }
  .login {
    padding: 60px 20px;
  }
}

@media (max-width: 414px) {
  .login-bg .form-text-code span {
    width: 40%;
    margin: auto;
  }
  .login {
    padding: 40px 0;
  }
}

/* -------------work------------ */

.work-tag {
  width: 185px;
  height: 45px;
  background-color: #999;
  margin-left: 30px;
  margin-top: 40px;
}
.work-tag a {
  display: block;
  font-size: 20px;
  line-height: 45px;
  letter-spacing: 1.95px;
  text-align: center;
  color: #fff;
}
.work-tag a:hover {
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

.work-list-box {
  width: 660px;
  height: auto;
  margin: 0 30px;
  box-shadow: 0px 0px 5px 0px #ccc;
  padding-bottom: 95px;
}

.work-list-outer {
  position: relative;
}

.work-list-inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work-date {
  float: right;
  font-size: 16px;
  padding: 30px;
  letter-spacing: 1.6px;
  color: #333;
}

.work-text {
  float: left;
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.work-text a {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #333;
  position: relative;
}
.work-text a::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 0px;
  height: 1px;
  background: #1a1b7e;
  transition: width 0.5s;
}
.work-text a:hover::before {
  width: 85px;
}

.work-list-item {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.work-list-item img {
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
}
.work-list-item img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.work-btn {
  position: relative;
  z-index: 1;
  border: 1px solid #333;
  width: 175px;
  height: 48px;
  background: #fff;
  top: 75px;
  left: 30px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.work-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  display: block;
  background: #333;
  content: "";
  z-index: -1;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.7s ease;
}

.work-btn:hover:after {
  transform-origin: left top;
  transform: scale(1, 1);
}

.work-btn:hover a {
  color: #fff;
}

.work-btn a {
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #333;
  line-height: 48px;
  display: block;
  margin-left: 40px;
  float: left;
}
.work-btn span {
  float: right;
  margin-top: 14px;
  margin-right: 10px;
}

.work h2 {
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 30px;
}
.work h2::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #2a2a2a;
  margin-top: 5px;
}

@media (max-width: 1366px) {
  .work-list-box {
    height: auto;
    padding-bottom: 125px;
  }
  .work-list-item {
    height: auto;
  }
  .work-date {
    padding: 20px;
    font-size: 12px;
  }
  .work-text {
    padding: 20px;
  }
  .work-text a {
    font-size: 16px;
  }

  .work-btn {
    width: 155px;
    height: 40px;
    top: 55px;
    left: 20px;
  }
  .work-btn a {
    font-size: 14px;
    margin-left: 15px;
    line-height: 40px;
  }
  .work-btn span {
    margin-top: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1024px) {
  .work-text a:hover::before {
    content: none;
  }

  .work-list-item img:hover {
    transform: scale(1, 1);
    opacity: 1;
  }

  .work-date,
  .work-text {
    float: none;
  }
  .work-text {
    padding-top: 0;
  }

  .work-btn {
    top: 90px;
  }
}

@media (max-width: 768px) {
  .work-list {
    flex-flow: wrap;
    width: 100%;
  }
  .work-list-box .work-list-item img {
    width: 100%;
  }
  .work-list-box {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 414px) {
  .work-tag {
    width: 140px;
    height: 40px;
  }
  .work-tag a {
    font-size: 16px;
    line-height: 40px;
  }
}

/* // --------------------------------------pages------------------------------------------------- */

.work-pages {
  margin-bottom: 60px;
}
.work-pages-tag {
  width: 185px;
  height: 45px;
  background-color: #666;
  margin-top: 40px;
}
.work-pages-tag a {
  display: block;
  font-size: 19.5px;
  line-height: 45px;
  letter-spacing: 1.95px;
  text-align: center;
  color: #fff;
}
.work-pages-tag a:hover {
  background-color: #000;
  transition: all 0.5s ease-in-out;
}

.work-pages-list-box {
  width: 100%;
  min-height: 800px;
  box-shadow: 0px 0px 5px 0px #ccc;
}

.work-pages-list-outer {
  position: relative;
}

.work-pages-list-inner {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.work-pages-date {
  float: right;
  font-size: 16px;
  padding: 30px;
  letter-spacing: 1.6px;
  color: #333;
}

.work-pages-text {
  float: left;
  padding: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.work-pages-text a {
  font-size: 24px;
  letter-spacing: 2px;
  text-align: left;
  color: #333;
  position: relative;
  font-weight: bold;
  letter-spacing: 2.4px;
}
.work-pages-text a::before {
  position: absolute;
  bottom: -5px;
  content: "";
  width: 0px;
  height: 1px;
  background: #2a2a2a;
  transition: width 0.5s;
}
.work-pages-text a:hover::before {
  width: 85px;
}
.work-pages-text p {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #333;
}

.work-pages-text-content {
  font-size: 20px;
  letter-spacing: 2px;
  text-align: left;
  color: #333333;
  padding: 0 30px;
  clear: both;
}

.work-pages h2 {
  padding-top: 20px;
  padding-bottom: 40px;
}
.work-pages h2::after {
  content: "";
  display: block;
  width: 90px;
  height: 1px;
  background-color: #2a2a2a;
  margin-top: 5px;
}

.work-pages-list-item {
  width: 100%;
  height: 595px;
  overflow: hidden;
}
.work-pages-list-item img {
  transform: scale(1, 1);
  transition: all 0.5s ease-in-out;
}
.work-pages-list-item img:hover {
  transform: scale(1.2, 1.2);
  opacity: 0.8;
}

.work-pages-btn {
  position: absolute;
  border: 1px solid #333;
  width: 175px;
  height: 48px;
  background: #fff;
  top: 75px;
  left: 30px;
  overflow: hidden;
  cursor: pointer;
}
.work-pages-btn:hover {
  color: #fff;
  background-color: #666;
  border: 1px solid #fff;
  transition: all 0.5s ease;
}
.work-pages-btn:hover a {
  color: #fff;
}
.work-pages-btn a {
  font-size: 16px;
  letter-spacing: 1.6px;
  text-align: center;
  color: #333;
  line-height: 48px;
  display: block;
  margin-left: 20px;
  float: left;
}
.work-pages-btn span {
  float: right;
  margin-top: 14px;
  margin-right: 10px;
}

@media (max-width: 1366px) {
  .work-pages-list-item {
    height: auto;
  }
  .work-pages-list-box {
    width: 100%;
    min-height: 650px;
  }
}
@media (max-width: 1024px) {
  .work-pages-text a {
    font-size: 18px;
  }
  .work-pages-date {
    font-size: 12px;
  }
  .work-pages-text-content {
    font-size: 16px;
  }
  .work-pages-list-box {
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .list-pages-tag li:nth-child(even) a {
    font-size: 14px;
  }
  .list-pages-tag li:nth-child(odd) {
    width: 40px;
    height: 40px;
  }
  .list-pages-tag li:nth-child(even) {
    width: 145px;
    height: 40px;
  }
  .work-pages-date {
    float: none;
    padding-top: 15px;
    padding-bottom: 5px;
  }
  .work-pages-text {
    float: none;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .work-pages-list-box {
    min-height: 500px;
  }
}

@media (max-width: 640px) {
  .work-pages-list-box {
    min-height: 450px;
  }
  .work-pages-text a {
    font-size: 14px;
  }
  .work-pages-date {
    font-size: 8px;
  }
  .work-pages-text-content {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .work-pages-list-box {
    min-height: 400px;
  }
}

@media (max-width: 375px) {
  .work-pages-list-box {
    min-height: 350px;
  }
}

